span.un_report span.rank1 {
    color: inherit;
    font-weight: bold;
    padding: 2px;
}

span.un_report img {
    vertical-align: middle;
    position: relative;
}

span.un_report a {
    text-decoration: none;
}

span.un_report .un_progress {
    width: 30px;
}

span.un_report img.un_progress {
    vertical-align: middle;
    margin-left: 5px;
}
    