span.un_report span.rank1 {
    color: inherit;
    font-weight: bold;
    padding: 2px;
}

span.un_report a {
    text-decoration: none;
}

span.un_report img,
div.un_report img {
    vertical-align: middle;
    position: relative;
    margin-right: 5px;
}

div.un_report .un_progress {
    width: 30px;
}

div.un_report img.un_progress {
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    width: 25px;
}

div.un_report div:first-child {
    display: none;
}